<h1>List of Pictures</h1>

<p><a href="/new_picture_form">Add A New Picture</a></p>

<ul>
  <% @pictures.each do |pic| %>
    <li>
      <a href="/picture_details/<%= pic.id %>">
        <img src="<%= pic.source %>" width="50">
      </a>

      <p><%= pic.caption %></p>
      <p><a href="/edit_picture_form/<%= pic.id %>">Edit</a></p>
    </li>
  <% end %>
</ul>
