<h1>Add A New Picture</h1>

<% if @picture.errors.any? %>
  <ul>
    <% @picture.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/create_picture">
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption" value="<%= @picture.caption %>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" value="<%= @picture.source %>">
  </div>
  <div>
    <input type="submit" value="Create Picture">
  </div>
</form>
